.todo-list {
  &__item {
    align-items: center;
    display: flex;
    padding: rem(10);

    & > * + * {
      margin-left: rem(16);
    }
  }

  &__title {
    flex: 1;
    font-size: rem(18);
  }

  &__update-btn {
    background: $red-400;
    border: rem(1) solid transparent;
    border-radius: rem(3);
    cursor: pointer;
    font-size: rem(16);
    padding: rem(6 8);
    transition: all 0.15s linear;
    width: rem(120);

    &.is-completed {
      background: $light-green-300;
    }

    &:hover {
      background: darken($blue-gray-900, 2%);
      border-color: $white;
      color: $white;
    }

    &:focus {
      box-shadow: 0 0 0 rem(2) $cyan-300;
    }
  }

  &__delete-btn {
    align-items: center;
    background: transparent;
    border: rem(1) solid $blue-gray-600;
    border-radius: rem(3);
    cursor: pointer;
    display: flex;
    height: rem(32);
    justify-content: center;
    transition: all 0.15s linear;
    width: rem(32);

    &:hover {
      background: darken($blue-gray-900, 8%);
      border-color: $white;

      svg {
        path {
          fill: $red-300;
        }
      }
    }

    &:focus {
      box-shadow: 0 0 0 rem(2) $cyan-300;
    }

    svg {
      path {
        fill: $white;
      }
    }
  }

  & > * + * {
    border-top: rem(1) solid $blue-gray-800;
  }
}
