html,
body,
#root {
  height: 100%;
}

body {
  background: $blue-gray-900;
  color: $white;
  padding: rem(24);
}

main {
  margin: auto;
  max-width: rem(768);
}

h1 {
  font-size: rem(50);
  font-weight: $font-bold;
  line-height: 1;
  margin-bottom: rem(20);
}

h2 {
  font-size: rem(36);
  font-weight: $font-normal;
  line-height: 1.2;
}

h3 {
  border-top: rem(1) solid $blue-gray-700;
  font-size: rem(24);
  margin-top: rem(20);
  padding-top: rem(20);
}

a {
  color: lighten($cyan-600, 5%);
}
